{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "XMLHttpRequest": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-param-reassign": ["error", {"props": false}],
    "one-var": [2, "always"],
    "react/require-extension": 0,
    "react/jsx-sort-props": 2,
    "import/extensions": 2
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.js"
      }
    }
  }
}
