@import '../../../../../constants/constants.css';

.root {
  display: inline-block;
  width: $dot-size;
  height: $dot-size;
  margin-right: 30px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    background-color: $controls-background-color;
  }

  &::before {
    opacity: 0.5;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.75);
  }

  &::after {
    transform: scale(0, 0);
    transition: transform 0.2s $ease-out-quad;
  }

  &:hover:not(.selected) {
    &::after {
      transform: scale(0.5, 0.5);
    }
  }

  @mixin breakpoint small {
    display: none;
  }
}

.selected {
  &::after {
    transform: scale(1, 1);
  }
}
