/* vars */
$content-border-width: 15px;
$controls-background-color: #fff;
$controls-prev-next-icon-positioning: 10px;
$dot-size: 25px;
$settings-thumbnail-size: 100px;
$settings-panel-width: 300px;
$ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$gray: #232323;
$green: #66b337;
$media-query-large  : 1140px;
$media-query-medium : 900px;
$media-query-small  : 768px;
$media-query-xsmall : 480px;
$prev-next-button-size: 100px;
$transition-speed: 450ms;

/* mixins */
@define-mixin breakpoint $size {
    @if $size == large {
        @media (width <= $media-query-large) {
            @mixin-content;
        }
    }
    @if $size == medium {
        @media (width <= $media-query-medium) {
            @mixin-content;
        }
    }
    @if $size == small {
        @media (width <= $media-query-small) {
            @mixin-content;
        }
    }
    @if $size == xsmall {
        @media (width <= $media-query-xsmall) {
            @mixin-content;
        }
    }
}