@import '../../../../../constants/constants.css';

.root {
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 1;
  border: $content-border-width solid $controls-background-color;
  box-sizing: border-box;
  overflow: hidden;

  @mixin breakpoint small {
    border: 0;
  }
}

.dotsContainer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 30px;
}
