@import '../../../constants/constants.css';

.root, .content {
	width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
}

.content {
    position: relative;
    transition: width 0.25s $ease-out-quad;
}

.contentSettingsToggled {
    width: calc(100% - $settings-panel-width);

    @mixin breakpoint small {
        width: 0;
    }
}

.cog {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
    font-size: 2.4em;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.15s $ease-out-quad;
    &:hover {
        transform: scale(1.2, 1.2);
    }
}
