@import '../../../../../constants/constants.css';

.root {
    background: $controls-background-color;
    font-size: 1.1em;
    padding: $content-border-width;
    margin: calc($content-border-width * 2);
    color: $gray;
    display: inline-block;

    @mixin breakpoint small {
        margin: $content-border-width;
    }
}
