@import '../../../../../constants/constants.css';

.prev {
  left: 0;
  margin-left: -$prev-next-button-size;

  &:hover {
    margin-left: calc(-$prev-next-button-size + 30px);

    i {
      margin-right: calc($controls-prev-next-icon-positioning * 3);
    }
  }

  i {
    float: right;
    margin-right: $controls-prev-next-icon-positioning;
    transition: margin-right 0.15s $ease-out-quad;
  }
}

.next {
  right: 0;
  margin-right: -$prev-next-button-size;

  &:hover {
    margin-right: calc(-$prev-next-button-size + 30px);

    i {
      left: calc($controls-prev-next-icon-positioning * 3);
    }
  }

  i {
    left: $controls-prev-next-icon-positioning;
    transition: left 0.15s $ease-out-quad;
  }

  @mixin breakpoint small {
    border-left: 1px solid $gray;
  }
}

.next,
.prev {
  @mixin breakpoint small {
    &:hover {
      margin: 0;

      i {
        left: 0;
      }
    }
  }
}

.root {
  display: table;
  position: absolute;
  top: 50%;
  width: calc($prev-next-button-size * 1.5);
  height: $prev-next-button-size;
  border-radius: $prev-next-button-size;
  background: $controls-background-color;
  margin-top: calc(-0.5 * $prev-next-button-size);
  cursor: pointer;
  transition: margin 0.15s $ease-out-quad;
  border: none;
  outline: none;

  @mixin breakpoint small {
    top: auto;
    bottom: 0;
    width: 50%;
    margin: 0;
    border-radius: 0;
    transition: all 0.15s $ease-out-quad;
    height: 60px;

    i {
      left: 0;
    }
  }
}

.icon {
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  position: relative;
  color: $gray;
  text-align: left;
}
